<h2>Search contacts</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col"><a (click)="onSort('FirstName',$event)" class="btn btn-light">First name</a></th>
      <th scope="col"><a (click)="onSort('LastName',$event)" class="btn btn-light">Last name</a></th>
      <th scope="col"><a (click)="onSort('TelephoneNumber',$event)" class="btn btn-light">Telephone number</a></th>
      <th scope="col"><a (click)="onSort('FullAddress',$event)" class="btn btn-light">Full address</a></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input type="text" [(ngModel)]="firstNameFilter" /></td>
      <td><input type="text" [(ngModel)]="lastNameFilter" /></td>
      <td><input type="text" [(ngModel)]="telephoneNumberFilter" /></td>
      <td><input type="text" [(ngModel)]="addressFilter" /></td>
      <td><button class="btn btn-link" (click)="onSearch()">Search</button></td>
      <td><button class="btn btn-link" (click)="onResetFilter()">Reset</button></td>
    </tr>
    <tr *ngFor="let contact of model.result">
      <td>{{contact.firstName}}</td>
      <td>{{contact.lastName}}</td>
      <td>{{contact.telephoneNumber}}</td>
      <td>{{contact.getOneLineAddress()}}</td>
      <td><a class="btn btn-light" (click)="onUpdate(contact.id)">Edit</a></td>
      <td><a class="btn btn-light" (click)="onDelete(contact.id)">Delete</a></td>
    </tr>
  </tbody>
</table>

<nav>
  <ul class="pagination">
    <li class="page-item"><button class="page-link" (click)="previousPage()" [disabled]="isPreviousDisabled()">Previous</button></li>
    <li class="page-item"><button class="page-link" (click)="nextPage()" [disabled]="isNextDisabled()">Next</button></li>
  </ul>
</nav>

<p>Results: <b>{{model.totalRows}}</b></p>
